.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, white, rgba(233, 189, 189, 0.6) 60%);
    animation: fadeIn 1s ease-in-out;
    /* height: 80vh; */
    
}
.hand_icon{
    display: flex;
    /* justify-content: center; */
    align-items: center;  
    margin-bottom: -75px;  
    gap: 15px;
}
.hand_icon img{
    height: 95px;
    width: 95px;
    margin-top: 10px;

}
p{
    font-size: 5em;
    font-weight: 700;
    /* margin-bottom: -200px;   */
    
} 

/* .hand_icon p{
    margin-top: 10px;
} */


.hero_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1px;
    margin-bottom: 150px;
    /* margin-left: 150px; */
    position: relative;
    left: 100px;
}

.hero_button{
    background-color: red;
    font-size: 25px;
    height: 75px;
    width: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 50px;
    color: white;
    padding-left: 30px;
    gap: 15px;
}

.hero_right{
    position: relative;
    bottom: 55px;
    left: 130px;   
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}